/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#about-me,
#skills,
#project,
#recommendations {
  scroll-margin-top: 100px;
}

/* HEADER */
header {
  position: fixed;
  height: 100px;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 4;
}

.my_name {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav_bar {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* MAIN  */
main {
  padding-top: 100px;
  width: 100%;
}

h1 {
  font-size: 28px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.img_me {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#img_container {
  width: 300px;
  height: auto;
  padding: 10px;
}

#about-me {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about-me-text {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 700px;
  margin: 1rem 0;
  color: #333;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* SLIDER */
#skills {
  padding: 50px 0;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide.skill-card {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-card .overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem;
  text-align: center;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-card:hover .overlay {
  opacity: 1;
}

.skill-card.html {
  background-image: url("../img/html5.png");
}
.skill-card.css {
  background-image: url("../img/css.png");
}
.skill-card.js {
  background-image: url("../img/js.png");
}
.skill-card.ts {
  background-image: url("../img/ts.png");
}
.skill-card.react {
  background-image: url("../img/react.png");
}
.skill-card.bootstrap {
  background-image: url("../img/bootstrap.png");
}
.skill-card.sass {
  background-image: url("../img/sass.png");
}
.skill-card.vue {
  background-image: url("../img/vue.png");
}
.skill-card.redux {
  background-image: url("../img/redux.png");
}
.skill-card.php {
  background-image: url("../img/php.png");
}
.skill-card.laravel {
  background-image: url("../img/laravel.png");
}
.skill-card.nextjs {
  background-image: url("../img/nextjs.png");
}
h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* PROJECT */
#project {
  background-color: whitesmoke;
  padding: 3rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 -3px 10px rgba(0, 0, 0, 0.1);
}

.pj-content {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  box-sizing: border-box;
}

#project h3 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.project-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 100%;
  min-width: 150px;
  height: auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.project-card p {
  font-size: 0.95rem;
  line-height: 1.4;
  font-weight: 600;
  color: #444;
  margin-top: 10px;
}

/* RECOMMENDATIONS */
#recommendations {
  padding: 50px 0;
}

.all_recommendations {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.recommendation {
  background-color: white;
  padding: 10px;
  font-size: 18px;
  border-left: 6px solid #ee7752;
  border-radius: 8px;
  line-height: 1.5;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.recommendation span {
  font-weight: bold;
  color: #e73c7e;
}

#contact {
  background-color: #fff;
  margin-top: 30px;
  padding-bottom: 50px;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  max-width: 800px;
  width: 100%;
}
#rec_name {
  margin-bottom: 10px;
}

.introduction {
  font-weight: bold;
  background-color: white;
  font-size: 20px;
  padding: 5px;
}

/* FOOTER */
footer {
  background: linear-gradient(to bottom, #000000, #444444);
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 1rem;
  height: 200px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.contact-info p {
  margin: 0.25rem 0;
  font-size: 1rem;
}

.icon {
  margin-right: 8px;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 18px;
}

.social-links i {
  font-size: 20px;
}

.social-links a:hover {
  color: #e73c7e;
}

.footer-note {
  font-size: 0.85rem;
  color: #ccc;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input,
textarea,
fieldset {
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  padding: 0.75rem;
  font-size: 1rem;

  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  background-origin: border-box;
  background-clip: padding-box, border-box;

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

button#recommend_btn {
  background-color: #23a6d5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 5px;
}

button#recommend_btn:hover {
  background-color: #1e8db6;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  /* body {

  }
  main {

  } */
}

@media screen and (max-width: 552px) {
  .my_name {
    font-size: 18px;
  }
}

@media (min-width: 553px) and (max-width: 768px) {
  .my_name {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .my_name {
    font-size: 22px;
  }
}
