/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  position: fixed;
  height: 100px;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.my_name {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav_bar {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  /* body {

  }
  main {

  } */
}

@media screen and (max-width: 552px) {
  .my_name {
    font-size: 18px;
  }
}

@media (min-width: 553px) and (max-width: 768px) {
  .my_name {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .my_name {
    font-size: 22px;
  }
}
